

body{
  background-image: url('escheresque.webp');
  margin: 0;
  padding: 0;
}

#mynav{
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
  box-shadow: 0px 5px 5px 0px #191816;
  height: 200px;
  background-image: url('ahoy.jpg');
}


#main-body{
  font-size: 18pt;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px 5px 5px 0px #191816;
  height: 100%;
  background-color: white;
  display: block;
  overflow: auto;
}

.wrapper-new-user{
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 200px;
  padding: 50px;
  background-color: #6897e3;
  border: solid;
}
.wrapper-show-contact{
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 200px;
  padding: 50px;
  background-color: white;
  border: solid;
}

.wrapper-edit-form{
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 200px;
  padding: 50px;
  background-color: white;
  border: solid;
}

.wrapper-stories{
  height: 100vh;
}

#stories{
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 100px;
  padding: 50px;
}

.header-stories{
  padding: 20px;
  background-image: url("wheat.webp");
  color: white;
  text-align: center;
  font-size: 50pt;
}

#page-title{
  font-size: 70pt;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 4px black;
  text-shadow: red 0px 0px 150px;
}

.story-cutter{

  text-align: center;

}

.story-body{
  padding: 20px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: white;
  font-family: sans-serif;
}

$display-font-weight: 500;
